p {
    font-style: normal;
}Food That We Give


li {
    font-style: italic;
}

.pics {
    font-size: 200px;
}
body {background-color:rgb(142, 235, 204)}
a:hover{
    background-color: rgb(76, 5, 169);
}
.ROBINHOOD {
    background-color: forestgreen
}